In [1]:
import re
text='Python Exercises, PHP exercises.'
print(re.sub("[ ,.]",":",text))

Python:Exercises::PHP:exercises:

In [2]:
import pandas as pd
data={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(data)
df['SUMMARY']=df['SUMMARY'].apply(lambda x:re.sub(r'[^\w\s]','',x))
print(df['SUMMARY'])

0         hello world
1          XXXXX test
2    123four five six
Name: SUMMARY, dtype: object

In [3]:
def pattern(string):
  temp=re.compile(r"\b\w{4,}\b")
  string1=temp.findall(string)
  return string1

print(pattern("A ABC ABCD ABCDE"))

['ABCD', 'ABCDE']

In [4]:
def pattern(string):
  temp=re.compile(r"\b\w{3,5}\b")
  string1=temp.findall(string)
  return string1

print(pattern("A ABC ABCD ABCDE"))

['ABC', 'ABCD', 'ABCDE']

In [5]:
pat=re.compile(r'[()]')
string=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for temp in string:
    search=pat.sub('',temp)
    print(search)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [6]:
with open("temp.txt") as file:
   for line in file:
        text=re.sub(r" ?\([^)]+\)","",line)
        print(text)

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [7]:
text="ImportanceOfRegularExpressionsInPython"
print(re.findall('[A-Z][^A-Z]*',text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [8]:
text="RegularExpression1IsAn2ImportantTopic3InPython"
pat=r'([a-zA-Z])(\d)'
repl=r'\1 \2'
string=re.sub(pat,repl,text)
print(string)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [9]:
s = "RegularExpression1IsAn2ImportantTopic3InPython"
s = re.sub("[A-Za-z]+",lambda group:" "+group[0]+" ",s)
print(s.strip())

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [10]:
df=pd.read_csv('happiness_score_dataset.csv')
df['first_6_letters']=df['Country'].str[:6]
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_6_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [11]:
def text_match(text):
        temp = re.compile(r'^\w+$')
        if temp.search(text):
                return 'Found a match!'
        else:
                return('Not matched!')

print(text_match("The quick brown fox jumps over the lazy dog."))
print(text_match("Python_Exercises_1"))

Not matched!
Found a match!

In [12]:
def check_starting_number(string, number):
    if string.startswith(str(number)):
         return True
    else:
        return False

string = "123abc"
number = 123
if check_starting_number(string, number):
  print("The string starts with the specified number.")
else:
  print("The string does not start with the specified number.")

The string starts with the specified number.

In [13]:
ip = "123.04.0056.07890"
string = re.sub('\.[0]*', '.', ip)
print(string)

123.4.56.7890

In [14]:
pattern =r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"

with open('temp1.txt') as file:
    file_content = file.read()
    matches = re.findall(pattern, file_content)

print(matches)

['August 15th 1947']

In [15]:
given_list = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for temp in given_list:
    print('Searching for "%s" '%temp)
    if re.search(temp,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox"
Matched!
Searching for "dog"
Matched!
Searching for "horse"
Not Matched!

In [16]:
given_word = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
patern= re.search(given_word, text)
a = patern.start()
b = patern.end()
print('Given word start from %d to %d ' % (a,b))

Given word start from 16 to 19

In [17]:
text = 'Python exercises, PHP exercises, C# exercises'
given_word = 'exercises'
for match in re.findall(given_word, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [18]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    a = match.start()
    b = match.end()
    print('Found "%s" at %d:%d' % (text[a:b], a, b))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [19]:
import datetime
sample_date="2024-01-01"
datetime.datetime.strptime(sample_date, "%Y-%m-%d").strftime("%d-%m-%Y")

'01-01-2024'

In [20]:
def find_decimal_numbers(string):
  pattern = re.compile(r'\d+\.\d{1,2}')
  decimal_numbers = re.findall(pattern, string)
  return decimal_numbers

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = find_decimal_numbers(sample_text)
print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [21]:
text = "There are 123 apples and 456 oranges."

for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

123
Index position: 10
456
Index position: 25

In [22]:
text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
temp = re.findall("\d+",text)
num_list = map(int, temp)
print(max(num_list))

950

In [23]:
def capital_words_spaces(string):
  return re.sub(r"(\w)([A-Z])", r"\1 \2", string)

print(capital_words_spaces('RegularExpressionIsAnImportantTopicInPython'))

Regular Expression Is An Important Topic In Python

In [24]:
def text_match(text):
        patterns = '[A-Z]+[a-z]+$'
        if re.search(patterns, text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(text_match("Aabcde"))
print(text_match("python"))

Found a match!
Not matched!

In [25]:
sample="Hello hello world world"
text = re.sub(r'\b(\w+)( \1\b)+', r'\1',sample)
print(text)

Hello hello world

In [26]:
def check_string(string):
  pattern = r"\w$"
  match = re.search(pattern, string)
  if match:
    print('Accepted')
  else:
    print('Not Accepted')

check_string('qwer')
check_string('qwer@')

Accepted
Not Accepted

In [27]:
def extract_hashtags(text):
  hashtags = re.findall(r'#\w+', text)
  return hashtags

sample_text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
print(extract_hashtags(sample_text))

['#Doltiwal', '#xyzabc', '#Demonetization']

In [28]:
def remove_symbol(input_text):
 pattern = r"<U\+\w{4}>"
 output_text = re.sub(pattern, "", input_text)
 print(output_text)

sample_text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
remove_symbol(sample_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [29]:
pattern =r'(\d+-\d+-\d+)'

with open('Date.txt') as file:
    file_content = file.read()
    matches = re.findall(pattern, file_content)

print(matches)

['12-09-1992', '15-12-1999']

In [30]:
text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
shortword = re.compile(r'\W*\b\w{2,4}\b')
print(shortword.sub('', text))

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.